.calculator-container {
  width: 100%;
  background-color: hsl(0, 0%, 86%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.calculator-wrap-input {
  display: flex;
  margin-bottom: 60px;
}

.wrap-calculator {
  width: 80%;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  margin: auto;
  border-radius: 30px 30px 120px 30px;
}

.wrap-input {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 20%;
}

.wrap-input:last-child {
  margin-right: 0;
}

.wrap-input .label-input {
  font-size: 20px;
  font-family: "Poppins Bold";
  line-height: 20px;
  margin-bottom: 10px;
}

.wrap-input .input {
  font-size: 32px;
  padding: 30px;
  font-family: "Poppins ExtraBold";
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  cursor: pointer;
}

.input:hover,
.input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.input::placeholder {
  color: hsl(0, 1%, 44%);
}

.btn-result {
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  outline: none;
  border: none;
  padding: 30px;
  cursor: pointer;
}

.btn-result:hover {
  background-color: hsl(0, 0%, 8%);
}
