.calculator-container {
  width: 100%;
  background-color: hsl(0, 0%, 86%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  min-height: 100vh;
  gap: 50px;
}

.calculator-wrap-input {
  display: flex;
  margin-bottom: 30px;
}

.wrap-calculator {
  width: 60%;
  background-color: hsl(0, 0%, 100%);
  padding: 5%;
  margin: auto;
  border-radius: 30px 30px 170px 30px;
}

.wrap-input {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 25%;
}

.wrap-input:last-child {
  margin-right: 0;
}

.label-input {
  font-size: 20px;
  font-family: "Poppins Bold";
  line-height: 20px;
  margin-bottom: 10px;
  color: hsl(0, 1%, 44%);
}

.input {
  font-size: 32px;
  padding: 10px 30px;
  font-family: "Poppins ExtraBold";
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  cursor: pointer;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.input:hover,
.input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.input::placeholder {
  color: hsl(0, 1%, 44%);
}

.btn-result {
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  outline: none;
  border: none;
  padding: 30px;
  cursor: pointer;
}

.btn-result:hover {
  background-color: hsl(0, 0%, 8%);
}

.wrap-btn-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.line {
  height: 0.5px;
  background-color: hsl(0, 1%, 44%);
  width: 100%;
}

.result-line {
  height: 10px;
  background-color: hsl(259, 100%, 65%);
  width: 30px;
  display: block;
  margin-right: 10px;
}

.result-content {
  display: flex;
  align-items: center;
}

.result-content-desc {
  font-size: 70px;
  font-family: "Poppins ExtraBoldItalic";
  font-weight: 700;
}

.attribution {
  text-align: center;
}

.wrap-line-result {
  display: flex;
  font-size: 80px;
  font-family: "Poppins ExtraBoldItalic";
  font-weight: 700;
  color: hsl(259, 100%, 65%);
  margin-right: 5px;
}

.icon-result {
  max-width: 100%;
}

small {
  font-size: 15px;
  color: hsl(0, 100%, 67%);
  font-family: "Poppins Italic";
}

.hidden {
  visibility: hidden;
}

.input-error {
  border: 1px solid hsl(0, 100%, 67%);
}

.attribution {
  color: hsl(259, 100%, 65%);
  font-family: "Poppins Bold";
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .calculator-container {
    padding: 20px;
  }

  .wrap-calculator {
    width: 100%;
    border-radius: 30px 30px 130px 30px;
  }

  .label-input {
    font-size: 15px;
  }

  .input {
    padding: 10px;
    font-size: 20px;
  }

  .wrap-btn-result {
    position: relative;
  }

  .btn-result {
    padding: 15px;
    position: absolute;
    left: 39%;
  }

  .icon-result {
    width: 24px;
  }

  .result-content-desc {
    font-size: 40px;
  }
}
